{% extends 'base.html' %}

{% block head %} 
<title>Users</title>
{% endblock%}


{% block body %}
    <h1>Cars</h1>
    <hr>
    <h2>Create New User:</h2>
    <form action='/cars' method='POST'>
        Name: <input type='text' name='name' id='name'>
        <br>
        Make: <input type='text' name='make' id='make'>
        <br>
        Body: <input type='text' name='body' id='body'>
        <br>
        Colour: <input type='text' name='colour' id='colour'>
        <br>
        Seats: <input type='number' name='seats' id='seats'>
        <br>
        Location: <input type='text' name='location' id='location'>
        <br>
        Cost per hour: <input type='number' name='cost_per_hour' id='cost_per_hour'>
        <br>
        
        <input type='submit' value='Create'>
    </form>
    

    {% for car in cars %}
        <hr>
        <p> {{ car.id }}</p>
        <h3>{{ car.name }}</h3>
        <h3>{{ car.make }}</h3>
        <h3>{{ car.body }}</h3>
        <h3>{{ car.colour }}</h3>
        <h3>{{ car.seats }}</h3>
        <h3>{{ car.location }}</h3>
        <h3>{{ car.cost_per_hour }}</h3>
        <h3>{{ car.manu_date }}</h3>
        
        <a href='/cars/delete/{{car.id}}'>Delete</a>
        <a href='/cars/edit/{{car.id}}'>Edit</a>

    {% endfor %}


{% endblock%}