{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sidebar.css') }}"
/>
<style>
  .col {
    display: inline-block;
  }
</style>
<title>Customer Statistic Page</title>
{% endblock %} {% block body %}
<div class="grid-container">
  <body>
    <header class="header">
      <span style="font-size: 30px; cursor: pointer" onclick="openNav()"
      >&#9776; open</span
      >
  </header>
    <div class="container">
      <div class="row">
        <div class="col" id="columnchart1" style="width: 30vw;"></div>
        <div class="col" id="columnchart2" style="width: 30vw;"></div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      new_customer_in_6_month = [['Month', 'New Customer']].concat(JSON.parse({{new_customer_in_6_month|tojson|safe}}));
      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawColumnChart1);

      // Draw the chart and set the chart values
      function drawColumnChart1() {

        console.log(new_customer_in_6_month);
        var data = google.visualization.arrayToDataTable(new_customer_in_6_month);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'New Customer The Last 6 Months', 'width':550, 'height':400};

        // Display the chart inside the <div> element with id="columnchart"
        var chart = new google.visualization.ColumnChart(document.getElementById('columnchart1'));
        chart.draw(data, options);
      }
      customer_booking_in_6_month = [['Month', 'Booking']].concat(JSON.parse({{customer_booking_in_6_month|tojson|safe}}));
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawColumnChart2);

      // Draw the chart and set the chart values
      function drawColumnChart2() {
        var data = google.visualization.arrayToDataTable(customer_booking_in_6_month);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Customer Booking Statistic The Last 6 Months', 'width':550, 'height':400};

        // Display the chart inside the <div> element with id="columnchart"
        var chart = new google.visualization.ColumnChart(document.getElementById('columnchart2'));
        chart.draw(data, options);
      }
    </script>
  </body>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
    >&times;</a
  >
  <a href="{{url_for('manager_home')}}">Home</a>
  <a href="" style="color: white;">New customer statistic</a>
  <a href="{{url_for('manager_car')}}">Car statistic</a>
  <a href="{{url_for('logout')}}">Logout</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.body.style.backgroundColor = "rgb(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "white";
  }
</script>
{% endblock %}
