{% extends 'base.html' %}

{% block head %}
<title>Edit Car</title>
{% endblock %}


{% block body %}
<h1>Editing car</h1>
<hr>
    <h2>Edit:</h2>
    <form action='/cars/edit/{{car.id}}' method='POST'>
        Name: <input type='text' name='name' id='name' value = {{car.name}} >
        <br>
        Make: <input type='text' name='make' id='make' value = {{car.make}}>
        <br>
        Body: <input type='text' name='body' id='body' value = {{car.body}}>
        <br>
        Colour: <input type='text' name='colour' id='colour' value = {{car.colour}}>
        <br>
        Seats: <input type='number' name='seats' id='seats' value = {{car.seats}}>
        <br>
        Location: <input type='text' name='location' id='location' value = {{car.location}}>
        <br>
        Cost per hour: <input type='number' name='cost_per_hour' id='cost_per_hour' value = {{car.cost_per_hour}}>
        <br>

        <input type='submit' value='Save'>
    </form>
<hr>

{% endblock %}