{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<title>Log in</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-register my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-register" action="{{ url_for('register') }}" method="POST">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="form-label-group">
                      <input type="fname" id="fname" name="fname" class="form-control" placeholder="First Name" required>
                      <label for="fname">First Name</label>
                  </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-label-group">
                      <input type="lname" id="lname" name="lname" class="form-control" placeholder="Last Name" required>
                      <label for="lname">Last Name</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="email">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="role" value="Customer" id="customer_radio">Customer
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="role" value="Admin" id = "admin_radio">Admin
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="role" value="Manager" id = "manager_radio">Manager
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="role" value="Engineer" id = "engineer_radio">Engineer
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="signUp()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let URL = 'http://localhost:5000'
  
  function signUp() {
    let email = document.getElementById('email')
    let password = document.getElementById('password')
    let first_name = document.getElementById('fname')
    let last_name = document.getElementById('lname')

    let role = document.querySelector('input[name="role"]:checked').value;

    let post_data = {
      email: email.value,
      password: password.value,
      first_name: first_name.value,
      last_name: last_name.value,
      role: role.toLowerCase()
    }

    fetch(`${window.origin}/api/v1/auth/register`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(post_data),
      cache: "no-cache",
      headers: new Headers({
          "content-type": "application/json"
        })
      })
      .then(function (response) {
          response.json().then(function (data) {
            let statusData = JSON.stringify(data.status).replace(/^"(.*)"$/, '$1');
            if (statusData === 'success') {
              window.location.replace(URL + "/login_redirect");
            }else {
              alert (JSON.stringify(data))
            }
            
          });
      })
      .catch(function (error) {
          alert("Fetch error: " + error);
      });

    
  }


</script>
  
{% endblock %}